@model DiarIA.Models.Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAgendada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAgendada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionMinutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionMinutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificultad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificultad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
